<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mx.com.gownetwork.criptas">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>


    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CtiptasAPP"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo4" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <service
            android:name="com.gownetwork.criptasapp.network.FireBase.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDlC5XF5kLZhB1wF6_2NNMYo_PBCoVBpms"/>

        <activity
            android:name="com.gownetwork.criptasapp.CriptasAppActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="criptasapp"
                    android:host="servicio"
                    android:pathPrefix="/" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.gownetwork.criptasapp.CriptasApp.CriptasRegisterActivity"
            android:exported="false"
            android:label="@string/title_activity_criptas_login" >
        </activity>

        <activity
            android:name="com.gownetwork.criptasapp.CriptasApp.activitys.ServiciosActivity"
            android:exported="false"
            android:theme="@style/Theme.CriptasAppBar"
            android:label="@string/title_activity_criptas_login" >
        </activity>

        <activity
            android:name="com.gownetwork.criptasapp.CriptasApp.activitys.MenuCriptaActivity"
            android:exported="false"
            android:theme="@style/Theme.CriptasAppBar"
            android:label="@string/title_activity_criptas_login" >
        </activity>

        <activity
            android:name="com.gownetwork.criptasapp.CriptasApp.CriptasLoginActivity"
            android:exported="false">
        </activity>

        <activity
            android:name="com.gownetwork.criptasapp.CriptasApp.activitys.CriptasDisponiblesActivity"
            android:theme="@style/Theme.CriptasAppBar"
            android:exported="false">
        </activity>

        <activity
            android:name="com.gownetwork.criptasapp.CriptasApp.MainActivity"
            android:exported="true">
        </activity>


    </application>

</manifest>